.quienes-somos {
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    color: #222;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

.quienes-somos h1 {
    color: rgb(6, 100, 56);
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.contactanos {
    font-family: cursive;
    font-size: large;
    color: #222;
    font-weight: bold;
    margin: 0;
    padding: 0;
    width: 90%;
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
}

.contactanos h1 {
    color: rgb(6, 100, 56);
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.secundarios {
    color: rgb(6, 100, 56);
    text-decoration: underline;
    font-weight: bold;
    margin-top: 35px;
}